<?xml version="1.0"?>
<launch>
  <!-- Load robot description -->
  <include file="$(find sml_nexus_description)/launch/sml_nexus_description.launch" />

  <!-- Motion capture system -->
  <include file="$(find mocap_qualisys)/launch/qualisys.launch" />

  <!-- Controller node -->
  <node name="back_and_forth_controller" pkg="sml_nexus_tutorials" type="back_and_forth_controller.py" output="screen" >
    <remap from="cmd_vel" to="/nexus1/cmd_vel" />
  </node>

</launch>
